{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Manitoba Transit API",
    "description": "Get the real-time schedules for buses, route information for unique bus number,and bus information for a unique bus-stop number for Manitoba. Data is availble in JSON format and calling the API by bus ID (using the `id` parameter) will provide the most precise results",
    "contact": {
      "name": "Group 15",
      "url": "https://manitobatransit.com/contact",
      "email": "group15@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.manitobatransit.com"
    }
  ],
  "tags": [
    {
      "name": "bus",
      "description": "Information about buses"
    },
    {
      "name": "stop",
      "description": "Information about stops"
    }
  ],
  "paths": {
    "/buses/{busID}/stops": {
      "get": {
        "tags": [
          "stop"
        ],
        "summary": "",
        "description": "",
        "operationId": "getStopsByBusID",
        "parameters": [
          {
            "name": "busID",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 60
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of bus stops.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Route": {
        "type": "object",
        "properties": {
          "routes": {
            "type": "array",
            "description": "Buses that will arrive at this stop",
            "items": {
              "type": "string",
              "example": "Westbound Innovation at Research"
            }
          }
        }
      }
    }
  }
}